/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-sep-2015, 19:40:47
    Author     : 2daw
*/
h1{
    color: lightsteelblue;
    text-align: center;
}
div{
    border: 2px lightsteelblue solid;
    width: 300px;
    height: 50px;
    margin: auto;
    padding: 20px;
    padding-top: 40px;
}
.centrar{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.submit{
    width: 170px;
    height: 30px;
    background-color: lightsteelblue;
    margin-left: 20px;
}
.cuadro{
    height: 20px;
}
