/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-sep-2015, 19:40:47
    Author     : 2daw
*/
h1,h2{
    color: lightsteelblue;
    text-align: center;
}
div{
    
    width: 950px;
    height: 200px;
    margin: auto;
    padding: 20px;
    padding-top: 40px;
}
.centrar{
    width: 400px;
    margin: auto;
    margin-top: 10px;
}
.submit{
    width: 170px;
    height: 30px;
    background-color: lightsteelblue;    
    margin-top: 0px;   
}
.tabla{    
    border: 1px solid lightsteelblue;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border-collapse: collapse;    
}
.fila_0{
    background-color: lightsteelblue;
}

tr,td,th{
    border: 1px solid lightsteelblue;
}
